{% extends 'base.html' %}

{% block javascripts %}
    <script>
        app = new AppRouter();
        Backbone.history.start({pushState: true});
        
        if (Backbone.history && Backbone.history._hasPushState) {
            $(document).delegate("a", "click", function(evt) {
                var href = $(this).attr("href");
                var protocol = this.protocol + "//";
                if (href.slice(protocol.length) !== protocol) {
                    evt.preventDefault();
                    Backbone.history.navigate(href, true);
                }
            });
        }
    </script>
{% endblock %}

{% block content %}    
	<div id="logindiv"></div>
    <script type="text/template" id="LoginTemplate">
    	<form class="form-horizontal">
      		
    	    <button type="submit" class="btn primary save">Login</button>
        </form>
    </script>
    
    <div id="trip-container" class="container-fluid">
        <a style="float:right; margin-top:4px; margin-bottom:3px;" class="btn new" 
        href="#">Add Trip</a>
        <div id="trip-board"></div>
    </div>
   
    <div id="stages">
    	<table id="segmentTable" class="segmentTable table table-striped" cellpadding="4"></table>
    	<p><a href="#" class="add">add</a></p>
    	</div>
    </div>
    
    <div id="tripsegmentnotes"></div>
    <script type="text/template" id="SegmentNotesTemplate">
    	<form class="form-horizontal">
      		<textarea id="segment_notes" name="segment_notes"><%= item.notes %></textarea>
    	    <button type="submit" class="btn primary save">Save</button>
        </form>
    </script>
    
    <script type="text/template" id="BoardItemTemplate">
        <div class="title" align="center">
        	<a href="/board/<%= item.id %>"><%= item.title %></a></div>
        	<p class="description" align="center"><%= item.origin %> - <%= item.destination %></p>
        	<p class="description" align="center"><%= item.fromDate %> - <%= item.toDate %></p>
        
        	<div class="editdelete" align="center">
        		<a href="#" class="edit">edit</a> &middot; 
        		<a href="#" class="delete">delete</a> 
            </div>
        </div>
        <p class="description" align="center"><%= item.notes %></p>
    </script>

    <script type="text/template" id="TripSegmentTemplate">  
    	    <td class="span1"><%= item.order %></td>
			<td class="span4"><%= item.origin %></td>
			<td class="span4"><%= item.destination %></td>		
			<td class="span4"><%= item.fromDate %></td>
			<td class="span4"><%= item.toDate %></td>
			<td class="span4"><%= item.transport %></td>	
			<td class="span4"><%= item.notes %></td>
			<td class="editsection" style="display: none">
				<a class="btn btn-warning btn-small moveup" href="/board/<%= item.board.id %>">
					<i class="icon-arrow-up"></i>
				</a>
				<a class="btn btn-warning btn-small movedown" href="/board/<%= item.board.id %>">
					<i class="icon-arrow-down"></i>
				</a>
			</td>
			<td class="editsection" style="display: none">
				<a class="btn btn-success btn-small edit" href="#"><i class="icon-edit"></i></a>
			</td>
			<td class="editsection" style="display: none">
				<a class="btn btn-danger btn-small delete" href="#"><i class="icon-remove"></i></a>
			</td>
		</div>	
    </script>

	<div class="modal hide fade" id="add_seg_form"></div>
    <script type="text/template" id="TripSegmentEditTemplate">
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add a trip segment</h3>
        </div>
        <br>
    	<div class="modal-body">
        <form class="form-horizontal">
        	<fieldset>           
            	<div class="control-group">
		        	<label class="control-label" for="origin">Origin</label>
		            <div class="controls">
		                <input id="s-origin" name="origin" placeholder="Type in an place" type="text" />
                	</div>
            	</div>
            	<div class="control-group">
		        	<label class="control-label" for="destination">Destination</label>
		            <div class="controls">
		                <input id="s-origin" name="destination" placeholder="Type in an place" type="text" />
                	</div>
            	</div>
            	<div class="control-group">
		        	<label class="control-label" for="from">From</label>
		            <div class="controls">
		                <input id="add_from_date" name="add_from_date" type="text" />
                	</div>
            	</div>
            	<div class="control-group">
		        	<label class="control-label" for="to">To</label>
		            <div class="controls">
		                <input id="add_to_date" name="add_to_date" type="text" />
                	</div>
            	</div>      
            	<div class="control-group">
		        	<label class="control-label" for="tranport">Transport</label>
		            <div class="controls">      	
            			<select name="transport" id="color">
                 		   <option value="flight">Flight</option>
               			   <option value="taxi">Taxi</option>
               		       <option value="car">Car</option>
                           <option value="train">Train</option>
                           <option value="bus">Bus</option>
                           <option value="foot">Foot</option>
                        </select>   
                    </div>
            	</div>  
                <div class="control-group">
		        	<label class="control-label" for="notes">Notes</label>
		            <div class="controls">
		                <textarea id="notes" name="notes" />
                	</div>
            	</div>                
           </fieldset>
           </form>
		</div>
		<div class="modal-footer">
		    <button type="reset" class="btn cancel">Cancel</button> 
		    <button type="submit" class="btn primary save">Save Changes</button>
		</div>
    </script>

	

	<script type="text/template" id="TripEditTemplate">
		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h3>Edit Trip</h3>
		</div>
		<br>
		<div class="modal-body">
    		<form class="form-horizontal">
        		<fieldset>          
            		<div class="control-group">
		                <label class="control-label" for="title">Title</label>
		                <div class="controls">
		                    <input name="title" type="text" value="<%= item.title %>" />
                		</div>
            		</div>
            
		            <div class="control-group">
		                <label class="control-label" for="origin">Origin</label>
		                <div class="controls">
		                    <input id="t-origin" name="origin" placeholder="Type in an place" type="text" />
		                </div>
		            </div>
		            
		            <div class="control-group">
		                <label class="control-label" for="destination">Destination</label>
		                <div class="controls">
		                    <input id="t-destination" name="destination" placeholder="Type in an place" type="text" />
		                </div>
		            </div>

					<div class="control-group">
		                <label class="control-label" for="fromdate">From</label>
		                <div class="controls">
		                    <input id="from_date" name="from_date" type="text" />
		                </div>
		            </div>
		            
		            <div class="control-group">
		                <label class="control-label" for="todate">To</label>
		                <div class="controls">
		                    <input id="to_date" name="to_date" type="text" />
		                </div>
		            </div>
		            <div class="control-group">
		        		<label class="control-label" for="notes">Notes</label>
		        		<div class="controls">
		               		<textarea id="notes" name="notes" />
		                </div>
                	</div>
            	</div>
		        </fieldset>
		    </form>
		</div>
		<div class="modal-footer">
		    <button type="reset" class="btn cancel">Cancel</button> 
		    <button type="submit" class="btn primary save">Save Changes</button>
		</div>
	</script>
	<div class="modal hide fade" id="modal"></div>
	
	<script>
		$(document).ready(function() {
			$('#from_date').live('click', function() {
    			$(this).datepicker('destroy').datepicker({dateFormat: 'yy-mm-dd'}).focus();
        	});
        	$('#to_date').live('click', function() {
    			$(this).datepicker('destroy').datepicker({dateFormat: 'yy-mm-dd'}).focus();
        	});
        	$('#add_from_date').live('click', function() {
    			$(this).datepicker('destroy').datepicker({dateFormat: 'yy-mm-dd'}).focus();
        	});
        	$('#add_to_date').live('click', function() {
    			$(this).datepicker('destroy').datepicker({dateFormat: 'yy-mm-dd'}).focus();
        	});
        	
        	options = {
        		geocoder_type: 'airport,locality,political,sublocality,neighborhood,country',
        	};
        	
        	$('#t-origin').live('focus', function() {
    			$(this).geo_autocomplete(options);
        	});
        	$('#t-destination').live('focus', function() {
    			$(this).geo_autocomplete(options);
        	});
        	$('#s-origin').live('focus', function() {
    			$(this).geo_autocomplete(options);
        	});
        	$('#s-destination').live('focus', function() {
    			$(this).geo_autocomplete(options);
        	}); 	
 	});
	</script>
      
{% endblock %}