#header {
    margin-top: 20px;
}

h1 span {
    color: #88abc2;
}
#logo {
    text-decoration: none;
    float: left;
}

.overlay {
    float: center;
    color: #003300;
    padding: 8px;
    margin-top: 1px;
    background: #ffffcc;
    height: 200px;
    width: 600px;
}

.hero-unit {
  padding: 350px;
  margin-bottom: 0px;
  background: url(../img/hero1.jpg) 80% 50% no-repeat; 
  background-size: cover;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

body
{
  background-image:url('/static/img/bg1.png');
} 

#top-bar {
    background: #d0e0eb;
}

.table-striped tbody tr.rowselected td { 
	background-color: #ffcc99; 
}

textarea {
    width: 80%;
    height: 10em;
    border-radius: 1em;
    border: 1px solid #000; /* everything up to and including this line
                               are aesthetics, adjust to taste */
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}

.activebox {
  margin: 5px;
  padding: 5px;
  background: #d0e0eb;
  font-size: 20px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 20px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.segmentTable {
  font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 150px;

}

footer a {
    display: block;
    padding: 3px;
    background: #d0e0eb;
}

footer a:hover{ background: #49708a; color: white;}

.nav-tabs { margin-top: 10px; }
