<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Zebebo - Plan travel socially</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.23.custom.css">
	
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.8.0.min.js"><\/script>')</script>
	<script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.23.custom.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/backbone/underscore.js"></script>
	<script src="{{ STATIC_URL }}js/libs/backbone/backbone.js"></script>
	<script src="{{ STATIC_URL }}js/libs/backbone/backbone-tastypie.js"></script>
	<script src="{{ STATIC_URL }}js/libs/bootstrap/transition.js"></script>
	<script src="{{ STATIC_URL }}js/libs/bootstrap/collapse.js"></script>
	<script src="{{ STATIC_URL }}js/libs/bootstrap/modal.js"></script>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ STATIC_URL }}js/libs/geo-autocomplete/ui.geo_autocomplete.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="navbar">
    <div class="navbar-inner">
	    <a class="brand" href="#">Zebebo</a>
    	
    	
    	<form class="form-inline">
    		<input type="text" class="input-small" placeholder="Email">
    		<input type="password" class="input-small" placeholder="Password">
    		<label class="checkbox">
    		<input type="checkbox"> Remember me
    		</label>
    		<button type="submit" class="btn">Sign in</button>
    	</form>
    </div>
</div>

{% block content %}{% endblock %}
</div>

<!-- backbone application -->
<script src="{{ STATIC_URL }}js/app/models.js"></script>
<script src="{{ STATIC_URL }}js/app/views.js"></script>
<script src="{{ STATIC_URL }}js/app/controllers.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>